nav{
    width: 100%;
    position: sticky;
    top: 0;
    height: 25px;
    overflow: hidden;
    background-color: #7d162a; 
    display: flex;
    align-items: center;
    overflow: visible;
    font-family: Pixelify Sans;
}
button{
    color: white;
    background-color: #7d162a;
    font-family: Pixelify Sans;
    height: 20px;
    cursor: pointer;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(icon.png);
    background-size: 10%;
}

html{
    font-family: Pixelify Sans;
}
#main{
    background-color: white;
    border-radius: 50px;
    border: #5c1221 solid 5px;
    min-height: 900px;
    width: 70%;
    padding: 5px;
    text-align: center;
    margin: auto; 
    text-align: center;
  }
.pixelify-sans-font{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
p{
    color: #5c1221;
}
details{
    color: #5c1221;
    font-size: large
}
summary{
    color: #5c1221;
    font-size: large;
}
details p{
border: #5c1221 solid 2px;
border-radius: 10px;
font-size: large
}
.dropdown_div {
    position: relative;
    display: inline-block;
    font-family: Pixelify Sans;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #5c1221; 
    width: 200%; 
}

.dropdown_content a {
    font-family: "Arial";
    color: #ffffff;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    font-family: Pixelify Sans;
}

.dropdown_content a:hover {
    background-color: #7d162a
}

.dropdown_div:hover .dropdown_content {
    display: block;
}
#discord-icon{
    width: 13.5px;
}
#email-icon{
    width: 13.5px;
}
#game-image{
    border: #5c1221 solid 4px;
    border-radius: 50px;
    width: 40%;
}
#link-icons{
    width: 50px;
}
#link-icons:hover{
    width: 55px;
    transition: 1s;
}
#home-image{
    border: #5c1221 solid 4px;
    border-radius: 50px;
    margin: 10px;
    width: 60%;
}
#home-image:hover{
    border: #5c1221 solid 4px;
    border-radius: 50px;
    width: 65%; 
    opacity: 0.8;
    transition: 1s
}
footer{
    height: 25px;
    background-color: #7d162a;
}
h1{
    color: #5c1221;
    font-family: pixelify sans;
}
h2{
    color: #5c1221;
    font-family: Pixelify Sans;
}
h3{
    font-family: Pixelify Sans;
    color: #7d162a;
    float: right;
}
h4{
    color:white;
    margin: 5px;
}
h5{
    color: #5c1221;
    font-family: Pixelify Sans;
}
h6{
    color: #5c1221;
    font-family: Pixelify Sans;
}
.nezh-easter-egg{
    color: #7d162a;
    float: right;
    right: 0;
}
.brotgeneisser-logo{
    width: 75%;
}

